
MAUI/.vs/MAUI/FileContentIndex/67614de2-aa3f-4e05-96bd-0f66316dbcf2.vsidx
MAUI/.vs/MAUI/FileContentIndex/1da9e7c1-bad3-45b3-a269-1fcbb57e1e64.vsidx
MAUI/.vs/MAUI/FileContentIndex/6d418c36-d172-4bc0-9289-b21b53bcea78.vsidx
MAUI/.vs/MAUI/FileContentIndex/6f268f7b-2be3-45ad-b380-710ba2ca2fab.vsidx
MAUI/MauiTutorial1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiTutorial1.AssemblyInfoInputs.cache
MAUI/MauiTutorial1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiTutorial1.AssemblyInfo.cs
MAUI/MauiTutorial1/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/MauiTutorial1.AssemblyInfoInputs.cache
MAUI/MauiTutorial1/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/MauiTutorial1.AssemblyInfo.cs
MAUI/MauiTutorial1/obj/Debug/net8.0-ios/iossimulator-x64/MauiTutorial1.AssemblyInfoInputs.cache
MAUI/MauiTutorial1/obj/Debug/net8.0-ios/iossimulator-x64/MauiTutorial1.AssemblyInfo.cs
MAUI/MauiTutorial1/obj/Debug/net8.0-android/MauiTutorial1.AssemblyInfoInputs.cache
MAUI/MauiTutorial1/obj/Debug/net8.0-android/MauiTutorial1.AssemblyInfo.cs
MAUI/MauiAppEx1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiAppEx1.AssemblyInfoInputs.cache
MAUI/MauiAppEx1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiAppEx1.AssemblyInfo.cs
MAUI/MauiAppEx1/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/MauiAppEx1.AssemblyInfoInputs.cache
MAUI/MauiAppEx1/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/MauiAppEx1.AssemblyInfo.cs
MAUI/MauiAppEx1/obj/Debug/net8.0-ios/iossimulator-x64/MauiAppEx1.AssemblyInfoInputs.cache
MAUI/MauiAppEx1/obj/Debug/net8.0-ios/iossimulator-x64/MauiAppEx1.AssemblyInfo.cs
MAUI/MauiAppEx1/obj/Debug/net8.0-android/MauiAppEx1.AssemblyInfoInputs.cache
MAUI/MauiAppEx1/obj/Debug/net8.0-android/MauiAppEx1.AssemblyInfo.cs
MAUI/MauiAppEx1/obj/Debug/net8.0-android/devices.cache
MAUI/MAUI.sln
MAUI/.vs/ProjectEvaluation/maui.projects.v7.bin
MAUI/.vs/ProjectEvaluation/maui.metadata.v7.bin
MAUI/.vs/MAUI/v17/.suo
MAUI/.vs/MAUI/v17/.futdcache.v2
MAUI/.vs/MAUI/FileContentIndex/f6ff5597-308b-48b6-ab86-4241c440d0b5.vsidx
MAUI/.vs/MAUI/FileContentIndex/88889b89-afad-4fc5-9f36-06865f4423e2.vsidx
MAUI/.vs/MAUI/FileContentIndex/1795f15c-16a4-44cc-a438-e36cb395b19f.vsidx
MAUI/.vs/MAUI/FileContentIndex/01c50cc2-dc30-4fa0-a9c8-42077268feda.vsidx
MAUI/.vs/MAUI/DesignTimeBuild/.dtbcache.v2
MAUI/.vs/MAUI/config/applicationhost.config
MAUI/.vs/MAUI/DesignTimeBuild/.dtbcache.v2
MAUI/.vs/MAUI/DesignTimeBuild/.dtbcache.v2
